.nav-link {
    position: relative;
    padding-bottom: 6px;
    color: #fdfdfd;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px; 
    background-color: #fcfafa;
    border-radius: 2px;
    transition: width 0.25s ease;
}


.nav-link:hover::after {
    width: 100%;
    background-color: #888;
}

.nav-link.active::after {
    width: 100%;
}
.nav-link {
    margin-right: 20px; 
}

.bg-dark {
    border-bottom: none !important;
}






